$text-color: #445566;
$dark-bg-text-color: #fff;

$blue-color-main: #4d7fff;
$blue-color-hover: lighten(
  $color: $blue-color-main,
  $amount: 5
);

$red-color-main: #ff4d4d;
$red-color-hover: lighten(
  $color: $red-color-main,
  $amount: 5
);

$light-white-bg: #eee;

$start-page-set-width: 300px;

$header-max-width: 500px;
