@import './reset.scss';
@import './mixins';

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-weight: normal;
  background: #f9f9f9;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

input,
button,
select {
  &:focus {
    outline: none;
  }
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}
